<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<div th:fragment="function-script">
		<script th:src="@{/static/js/transfer/local/createLocalTransfer.js}"></script>
	</div>
	
	<title th:fragment="title">Create local transfer</title>
	
	<div th:fragment="content" class="starter-template">
		<form th:action="@{/processCreateLocalTransfer}" method="post">
			<div class="table-responsive">
				<table class="table" id="transferTbl">
				    <thead>
						<tr>
							<th>Firstname</th>
							<th>Lastname</th>
							<th>Email</th>
						</tr>
				    </thead>
				</table>
			</div>
		</form>
	</div>

</html>
