<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="function-script">
    <script th:src="@{/static/js/transfer/local/createLocalTransfer.js}"></script>
</div>

<title th:fragment="title">Create local transfer</title>

<div th:fragment="content" class="starter-template">

    <form th:action="@{/processCreateLocalTransfer}" method="post">
        <input type="button" value="Add" id="localTfrAddBtn" data-target-table="transferTbl" />
        <div class="table-responsive">
            <table class="table" id="transferTbl">
                <thead>
                    <tr>
                        <th><label th:text="#{transfer.bankName}"></label></th>
                        <th><label th:text="#{transfer.fromAccNo}"></label></th>
                        <th><label th:text="#{transfer.toAccNo}"></label></th>
                        <th><label th:text="#{btn.delete}"></label></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </form>
</div>

</html>
